:root {
    --color-bg: hsl(0, 0%, 10%);
    --color-tx: hsl(0, 0%, 90%);
    --color-lk: hsl(0, 0%, 90%);
    --color-lk-hover: hsl(0, 0%, 50%);
}

* {
    font-family: "Space Grotesk";
}

img,
video {
    border-radius: 8px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

h2 {
    font-size: 3rem;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    top: 0.6rem;
    left: -0.4rem;
    width: 0.5rem;
    height: 0.5rem;
    background: gold;
}

/* =========================================================== */
.join-button {
    background: var(--color-bg);
    color: var(--color-tx);
    border: 2px solid var(--color-tx);
    border-radius: 1000px;
    font-size: 1.25rem;
    font-weight: 500;
    height: 4rem;
    margin-bottom: 1.5rem;
}

.join-button:hover {
    background: var(--color-tx);
    color: var(--color-bg);
}

.tags {
    margin: 0.5rem 0 0.5rem 0;
}

.tags span {
    border: solid 2px rgba(128, 128, 128, 0.5);
    border-radius: 1000px;
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0.2rem 0.6rem;
    margin: 0 0.5rem 0 0;
}

.tags span.deferred {
    background: rgb(255, 230, 88);
    color: black;
}

.tags span.completed {
    background: rgb(209, 139, 255);
    color: black;
}

.tags span.operating {
    background: rgb(93, 255, 147);
    color: black;
}

.tags span.researching {
    background: rgb(140, 213, 255);
    color: black;
}

.tags span.developing {
    background: rgb(140, 213, 255);
    color: black;
}

.tags span.stopped {
    background: rgb(255, 93, 93);
    color: black;
}